<DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Mon profil</title>
        <link rel="stylesheet" href="style/profile.css" />
    </head>
<body>

    <header>
        <h1>Mon profil</h1>
        <a href="/home">Retour</a>
    </header>

    <div class="profil">
        <div class="first">
            <div class="image">
                <img src="<%= compte.data.profile.photo %>" class="img" />
            </div>
            <div class="mainInfos">
                <p><%= compte.data.nom %></p>
                <p><%= compte.data.prenom %></p>
                <div class="infos2">
                    <p class="label">Classe:</p>
                    <p class="value"><%= compte.data.profile.classe.libelle %></p>
                </div>
            </div>
        </div>
        <hr>
        <div class="infos">
            <p class="label">Établissement:</p>
            <p class="value"><%= compte.data.nomEtablissement %></p>
        </div>
        <div class="infos">
            <p class="label">Email:</p>
            <p class="value"><%= compte.data.email %></p>
        </div>
        <div class="infos">
            <p class="label">Numéro de classe:</p>
            <p class="value"><%= compte.data.profile.classe.id %></p>
        </div>
    </div>

</body>
</html>